<!DOCTYPE html>
<html>
<title>MyBlogRankia</title>
  <head>
     
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
        <nav class="menu be-red white large-padding">
            <ul class="no-list row center-xs">
              <li class="col-md"><%= link_to 'INICIO', controller: 'articles' %></li>
              <li class="col-md"><%= link_to 'SOBRE MI', controller: 'articles' %></li>
              <li class="col-md"><%= link_to 'ACERCA DE', controller: 'articles' %></li>
              <li class="col-md"><%= link_to 'LOGIN', controller: 'articles' %></li>
            </ul>
          </nav>
      </header>
      <%= yield %>
  </body>

  <div class="footer">
    <h2>Footer</h2>
  </div>

</html>
